@model Shop.Web.Data.Entities.Product

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Seguro que lo quieres eliminar?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            ring.IsNullOrEmpty(Model.ImageUrl))
            {
            <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px;height:450px;max-width: 100%; height: auto;" />
            }

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UltimaCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UltimaCompra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UltimaVenta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UltimaVenta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disponible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
        <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i> Back to List</a>

    </form>
</div>